.multi_form_element_container_left
{
	padding-left: 0px!important;
}

.multi_form_element_container_right
{
	padding-right: 0px!important;
}

.clear
{
	clear: both;
}

.basic-help-block
{
	color: #737373!important;
	font-style: italic;
}

#filter_container legend
{
	margin-bottom: 0px!important;
}