.multi_form_element_container_left
{
	padding-left: 0px!important;
}

.multi_form_element_container_right
{
	padding-right: 0px!important;
}

.clear
{
	clear: both;
}

.basic-help-block
{
	color: #737373!important;
	font-style: italic;
}

#filter_container
{
	margin-top: 10px!important;
	font-size: 80%!important;
}

#filter_container legend
{
	margin-bottom: 0px!important;
}

#filter_container label
{
	margin-bottom: 0px;
	font-weight: bold!important;
}

.true
{
	color: #5cb85c;
}
.false
{
	color: #c9302c;
}

.waiting
{
	color: orange;
}

.neutral
{
	color: gray;
}

.badge-danger
{
	background-color: #c9302c!important;
}
.badge-warning
{
	background-color: orange!important;
}
.badge-success
{
	background-color: #5cb85c!important;
}

.red_color
{
	color: red;
}

.hand-pointer
{
	cursor: pointer;
}

.vp-timepicker
{
	width: 120px;
}

.vp-timepicker input
{
	background-color: white  !important;
}

.msisdn-length
{
	min-width: 170px;
}

.modal-footer .alert
{
	text-align: left;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.help-block
{
	font-size: 80%;
}

.error-msg
{
	color: red;

}

.vp-btn-icon
{
	margin-right: 10px;
}

.jumbotron-min
{
	padding: 1rem!important;
	margin: 0px;
}

.filter-title
{
	padding-top: .3rem;
	padding-bottom: .3rem;
}